/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.upload{
  font-weight:bold;
  color:#28a745;
  margin-left: 15px;
  line-height: 36px;
}

.legend {
  list-style: none;
}

  .legend li {
    float: left;
    margin-right: 10px;
  }

  .legend dt {
    float: left;
    margin-top: 6px;
    margin-right: 6px;
    margin-left: 20px;
    width: 12px;
    height: 12px;
  }
